h2 {
    position: relative;
    font-family: Light;
    text-align: center;
    color: #333;
    bottom: 30px;
}

.Botao-Google {
    position: relative;
    display: block;
    width: 70%;
    margin: 0 auto 30px;
    height: 10%;
    background-color: transparent;
    color: black;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    top: 10px;
    cursor: pointer;
    border: 1px solid #000;
    border-radius: 5px;

}


form {
    width: 400px;
    height: 400px;
    background-color: white;
    border-radius: 4%;
    box-shadow: 0px 4px 4px 0px #727070;
    margin: 50px auto;
    padding: 50px;
    text-align: center;
    z-index: 1;
    backdrop-filter: blur(5px);
}

label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
    border-radius: 5%;
}

input {
    border-radius: 8px;
    margin-bottom: 20px;
}

input[type="text"] {
    position: relative;
    width: 100%;
    padding: 10px;
    bottom: 10px;
    top: 10px;
}

input[type="password"] {
    position: relative;
    width: 100%;
    padding: 10px;
    bottom: 10px;
    top: 10px;
}

input[type="submit"] {
    position: relative;
    background-color: #000;
    color: white;
    padding: 10px 20px;
    border: 2px solid transparent;
    cursor: pointer;
    width: 150px;
    height: 44px;
    align-self: center;
    font-size: 16px;
    border-radius: 9px;
    bottom: 70px;
    transition: border-color 0.5s;
}

input[type="submit"]:hover {
    border-color: grey;
}

.esqueceu-senha {
    position: fixed;
    right: 325px;
    bottom: 137px;
    color: #050447;
    font-size: calc(12px);
    cursor: pointer;
}

.error-message {
    position: relative;
    color: #e2031a;
    top: -66px;
    right: 102px;
    font-size: calc(13px);
  }
  
  .Google-Imagem{
    width: 40px;
    position: relative;
    top: -16px;
    right:100px
  }
  
  .texto-google {
    font-family: 'Roboto';
    color: black;
    position: relative;
    z-index: 50;
    top: -50px;
    left: 10px;
  }